/**** Template CSS ****/
:root {
    --primary: #F3BD00;
    --secondary: #757575;
    --light: #F3F6F8;
    --dark: #0C2B4B;
}
.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}
.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}
/* Spinner */
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}
#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}
/* Button */
.btn {
    font-weight: 500;
    transition: .5s;
}
.btn.btn-primary,
.btn.btn-outline-primary:hover {
    color: #FFFFFF;
}
h5{
    color: #FFFFFF;
}
.btn-square {
    width: 38px;
    height: 38px;
}
.btn-sm-square {
    width: 32px;
    height: 32px;
}
.btn-lg-square {
    width: 48px;
    height: 48px;
}
.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}
/* Navbar */
.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}
.navbar .navbar-brand,
.navbar a.btn {
    height: 40px
}
.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: var(--dark);
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}
@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }
    .navbar .navbar-nav {
        border-top: 10px solid #EEEEEE;
    }
}
@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }
    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}
/* Header */
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, .75);
    z-index: 1;
}
.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    background-color: var(--primary);
    border: 10px solid var(--primary);
}
@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }    
#header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.page-header {
    background: linear-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(./img/carousel-1.jpeg) center center no-repeat;
    background-size: cover;
}
.breadcrumb-item+.breadcrumb-item::before {
    color: #999999;
}
/* Facts */
@media (min-width: 991.98px) {
    .facts {
        position: relative;
        margin-top: -75px;
        z-index: 1;
    }
}
/* Courses */
.w-100{
    height: 700px;
}
.add{
    text-align: left;
    background-color:#0C2B4B;
    color: #ffffff;
    width: 400px;
    height: 300px;
    font-weight:50px;
    margin-left: 50px;
}
.lab{
    margin-top: 10px;
    margin-left: 25px;
}

.input{
    margin-top: 20px;
    margin-left: 5px;
}
.inputt{
    margin-top: 20px;
    margin-left: 5px;
    margin-left: 130px;
    margin-top: -80px;
}
.butt{
    margin-left: 135px;
    color:#092139;
    background-color: #F3BD00;
}
.p1{
    margin-left: 50px;
    margin-top: -650px;
    color:#092139;
    background-color: #F3BD00;
    width: 50px;
    text-align: center;

}
.dele{
    text-align: left;
    background-color:#0C2B4B;
    color: #ffffff;
    width: 400px;
    height: 300px;
    font-weight:50px;
    margin-left: 550px;
}
.p2{
    margin-left: 550px;
    margin-top: -340px;
    color:#092139;
    background-color: #F3BD00;
    width: 70px;
    text-align: center;
}
.butto{
    margin-top: 50px;
    margin-left: 135px;
    color:#092139;
    background-color: #F3BD00;
}
.UP{
    text-align: left;
    background-color:#0C2B4B;
    color: #ffffff;
    width: 400px;
    height: 300px;
    font-weight:50px;
    margin-left: 1060px;
}
.p3{
    margin-left: 1060px;
    margin-top: -340px;
    color:#092139;
    background-color: #F3BD00;
    width: 70px;
    text-align: center;
}
.button{
    margin-top: -50px;
    margin-left: 135px;
    color:#092139;
    background-color: #F3BD00;
}
/* Footer */
.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: var(--light);
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}
.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--light);
    margin-right: 10px;
}
.footer .btn.btn-link:hover {
    color: var(--primary);
    letter-spacing: 1px;
    box-shadow: none;
}
.copyright {
    background: #092139;
}
.copyright a {
    color: var(--primary);
}
.copyright a:hover {
    color: var(--light);
}
/*========== FOODS ==========*/
.section-title{
    margin-left: 500px;
    margin-top: -200px;
    background-color: #F3BD00;
    width: 480px;
    text-align: center;
}
.foods_container {
    grid-template-columns: repeat(2, 1fr);
  }
  .foods_content {
    background-color:#0C2B4B;
    width: 950px;
    position: relative;
    margin-left: 280px;
  }
  .foods_img1 {
    width: 120px;
    align-self: center;
    margin-top: 15px;
    margin-left: 50px;
  }
  .foods_img2 {
    width: 120px;
    align-self: center;
    margin-left: 370px;
    margin-top: -460px;
  }
  .foods_img3 {
    width: 120px;
    align-self: center;
    margin-left: 720px;
    margin-top: -521px;
  }
  .foods_name1 {
    color:#F3BD00; 
    /* margin-top: 10px; */
    margin-left: 20px;
  }
  .foods_name2 {
    color:#F3BD00; 
    margin-top:-170px;
    margin-left: 330px;
  }
  .foods_name3 {
    color:#F3BD00; 
    margin-top: -200px;
    margin-left: 675px;
  }
  .foods_detail1 {
    color:#F3BD00;
    margin-top: 10px;
    margin-left: 20px;
  }
  .foods_detail2 {
    color:#F3BD00;
    margin-top: -300px;
    margin-left: 330px;
  }
  .foods_detail3 {
    color:#F3BD00;
    margin-top: -600px;
    margin-left: 680px;
  }
.form{
    background-color: #0C2B4B;
    margin-left: 300px;
    margin-top: -140px;
    color:#ffffff;
    width: 350px;
    height: 250px;
    padding: 50px;
}
.sub{
    margin-left: 150px;
    background-color: #F3BD00;
    color:#0C2B4B;
}
.US{
   color: #F3BD00; 
   margin-left: 780px;
   margin-top: -30px;
   font-size: 35px;
}
.cont{
    margin-top: -15px;
    color: #F3BD00;
    text-align: center;
}
/* .show-cart li {
    display: flex;
  }
.card-img-top {
    width: 200px;
    height: 200px;
    align-self: center;
  }
.add-to-cart{
    margin-top: -20px;
  }
.CART{
    margin-top: 50px;
    margin-left: 30px;
} */